{% extends "post.template" %}

{% block type %}photo{% endblock %}

{% block primary_content %}
  <ul class="photoset-photos primary">
    {% include 'photoset-photo.template' %}
  </ul>
{% endblock %}

{% block secondary_content %}
  <div class="photo-caption">{Caption}</div>
{% endblock %}

