{% extends "post.template" %}

{% block type %}text{% endblock %}

{% block secondary_content %}
  {block:Title}
    <h2 class="text-title">{Title}</h2>
  {/block:Title}
  
  <div class="text-body">{Body}</div>
{% endblock %}
