.posts {
  padding: 10px;
  
  &.mine {
    background-color: $mineBackgroundColor;
  }
  &.not-mine {
    background-color: $notMineBackgroundColor;
  }
  .post {
    .post-content {
      .primary {
        border-bottom: $indicatorThickness solid $indicatorColor; 
      }
    }
    
    .post-reblog-author {
      margin-top: 5px;
      
      .post-reblog-circle {
        background-color: $indicatorColor;
        display: inline-block;
        border-radius: 12px;
        vertical-align: middle;
        padding: 0 1px 2px 1px;
        width: 22px;
        height: 22px;
      }
      
      .post-reblog-link {
        text-transform: uppercase;
        @include headerFontFamily;
        display: inline-block;
        vertical-align: middle;    
      }
    }
    
    .post-footer {
      @include headerFontFamily;
      color: $actionColor;
      text-transform: uppercase;
      font-size: 14px;
      
      margin-top: 10px;
      
      
      .post-footer-item-group, .post-footer-item {
        display: inline-block;
        vertical-align: middle;
        
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
      
      .post-actions {
        border-top: $indicatorThickness solid $indicatorColor;
        vertical-align: middle;
        padding: 15px 2px 15px 0;
      } 
      
      .post-tags {
        display: inline;
        
        .post-tag {
          display: inline;
        }
      }
    }
    
    /* Shared between photo and photoset posts. */
    &.photo, &.photoset {
      .photo-caption {
        font-size: 13px;
        
        a {
          @include link();
        }
      }
      
      .photoset-photos {
        .photoset-photo {
          .photo-image {
            width: 100%;
            height: auto;
            vertical-align: bottom;
          }  
        }
      }
    }
    
    &.text {
      .text-body {
        width: 50%;
        padding: 20px;
        
        a {
          @include link();
        }
        
        p {
          margin-bottom: 20px;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      
      .text-title {
        text-align: center;
        margin-top: 20px;
      }
    }
    
    &.quote {
      .quote-wrap {
        margin: 0 10px;
        border-left: 6px solid $indicatorColor;
        padding-left: 20px;
      }
      
      .quote-text {
        font-style: italic;
        font-size: 20px;
      }
      .quote-source {
      }
    }
    
    /* Shared between photo and photoset posts. */
    &.audio {
      .audio-embed {
        text-align: center;
      }
      
      .audio-caption {
        text-align: center;
        margin-top: 20px;
        font-size: 13px;
        
        /* Assumes that the first paragraph in the caption is the "real" title. */
        p:first-child {
          @include headerFontFamily;
          font-size: 30px;
          padding-bottom: 10px;
          
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
      .audio-playcount {
        text-align: center;
        color: $actionColor;
        margin-top: 10px;
        font-size: 11px
      }
    }
    
    &.link {
      .link-target {
        margin: 0 10px;
        text-align: center;
      
        border-bottom: $indicatorThickness solid transparent;
        
        &:hover {
          color: $actionColor;
          border-bottom: $indicatorThickness solid $actionColor;
        }
      
        .link-name {
          @include headerFontFamily;
          text-transform: uppercase;
          
          display: inline-block;
          padding: 20px;
          
          font-size: 30px;
          
          border-bottom: $indicatorThickness solid transparent;
        }
      }
      .link-description {
        text-align: center;
      }
    }
  }
}

.pagination {
  margin-top: 25px;
  text-align: center;
  
  .pagination-link {
    display: inline-block;
    padding: 5px 20px;
    
    visibility: hidden;
    &.exists {
      visibility: visible;
    }
    
    &:hover {
      background-color: $actionColor;
    }
  }
  
  .pagination-current {
    padding: 5px 20px;
  }
}
